*{
    border-radius: 12px;
}
body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
    border: 2px solid #80ced6;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5f4e6;
}
.baner{
    border: 2px solid #618685;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    flex: 1;
    background-color: #fffef1; 
    font-size: 500%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0d1312;
}
